:root {
  --main-color: #fff;
  --f-blue-color: #003b95;
  --s-blue-color: #49beff;
  --gray-color: #f6f9fc;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
body {
  background-color: var(--main-color);
}
.nav-two {
  padding-bottom: 40px !important;
}
/* Start Landing */
.carousel {
  padding-bottom: 40px;
}
.carousel .container-fluid {
  position: relative;
}
.carousel .container-fluid button .carousel-control-prev-icon,
.carousel .container-fluid button .carousel-control-next-icon {
  filter: none;
}
.carousel .carousel-item img {
  border-radius: 7px;
  overflow: hidden;
}
.carousel .carousel-caption {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  bottom: inherit;
}
.carousel .carousel-caption h2 {
  color: var(--main-color);
  margin-top: 20px;
  font-size: 50px;
  margin-bottom: 20px;
}
.carousel .carousel-caption p {
  color: var(--main-color);
  margin-bottom: 20px;
  font-size: 40px;
  margin-top: 5px;
}
.carousel .carousel-caption p:not(:last-of-type) {
  margin-bottom: 0;
  font-size: 23px;
}
.carousel .carousel-caption a.but {
  color: var(--main-color);
  padding: 10px 18px;
  display: block;
  background-color: var(--f-blue-color);
  opacity: 0.9;
  width: fit-content;
  margin: 35px auto 0;
  text-decoration: none;
  font-size: 16px;
  border-radius: 7px;
  transition: 0.3s;
}
.carousel .carousel-caption a.but:hover {
  opacity: 1;
}
@media (max-width: 991px) {
  .carousel .carousel-caption h2 {
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 10px;
  }
  .carousel .carousel-caption p {
    margin-bottom: 5px;
    font-size: 40px;
  }
  .carousel .carousel-caption a.but {
    margin-top: 15px;
    padding: 7px 15px;
  }
}
@media (max-width: 767px) {
  .carousel .carousel-caption {
    display: block !important;
  }
  .carousel .carousel-item img {
    width: 120px;
  }
  .carousel .carousel-caption h2 {
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: 5px;
  }
  .carousel .carousel-caption p {
    margin-bottom: 5px;
    font-size: 25px;
  }
  .carousel .carousel-caption a.but {
    margin-top: 10px;
    padding: 4px 10px;
  }
}
@media (max-width: 400px) {
  .carousel .carousel-caption {
    display: none !important;
  }
}
/* End Landing */
/* Start Search */
.search {
  position: relative;
  top: -28px;
}
.search .up {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
  border-radius: 6px;
}
.search .up input {
  padding: 18px 20px;
  outline: none;
  border: none;
  border: 1px solid var(--s-blue-color);
  max-width: 250px;
  margin-bottom: 10px;
}
.search .up input:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}
.search .up .in-four input {
  width: 120px;
  font-size: 15px;
  background-color: var(--gray-color);
  color: var(--f-blue-color);
  border-bottom: 1px solid var(--s-blue-color);
  height: 56px;
}
/* End Search */
/* Start Gallery */
.gallerys {
  padding-bottom: 40px;
  padding-top: 22px;
}
.gallerys h2 {
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.gallerys .tophotels .photo {
  overflow: hidden;
  margin-bottom: 22px;
}
.gallerys .tophotels .photo img {
  max-width: 100%;
  width: 100%;
  border-radius: 4px;
  transition: 0.5s;
}
.gallerys .tophotels .photo img:hover {
  transform: scale(1.1);
}
.gallerys .tophotels .photo .HotelName {
  padding: 10px 14px;
  background-color: #f7f7f7;
  border-radius: 4px;
}
.gallerys .tophotels .photo .HotelName h3 {
  margin: 0;
  font-size: 22px;
  margin-bottom: 10px;
}
.gallerys .tophotels .photo .HotelName h5 {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--f-blue-color);
  opacity: 0.7;
}
.gallerys .but-one {
  width: fit-content;
  margin: auto;
}
.gallerys .but-one button {
  padding: 10px 18px;
  font-size: 16px;
  border-radius: 4px;
  transition: 0.3s;
}
/* End Gallery */
/* Start Trip */
.trip {
  padding-bottom: 40px;
}
.trip h2 {
  font-weight: bold;
}
.trip p {
  font-size: 18px;
  opacity: 0.8;
}
.trip .cities {
  margin-bottom: 22px;
  overflow: hidden;
}
.trip .cities img {
  width: 100%;
  border-radius: 4px;
  transition: 0.5s;
}
.trip .cities img:hover {
  transform: scale(1.1);
}
.trip .cities a {
  text-decoration: none;
  color: black;
}
.trip .cities .info {
  padding: 10px 14px;
  background-color: #f7f7f7;
  border-radius: 4px;
}
.trip .cities .info h3 {
  text-align: center;
  font-size: 22px;
}
/* End Trip */
/* Start Explore */
.explore {
  padding-bottom: 40px;
}
.explore h2 {
  font-weight: bold;
}
.explore p {
  font-size: 18px;
  opacity: 0.8;
}
.explore .cities {
  margin-bottom: 22px;
  overflow: hidden;
}
.explore .cities img {
  width: 100%;
  border-radius: 4px;
  transition: 0.5s;
}
.explore .cities img:hover {
  transform: scale(1.1);
}
.explore .cities a {
  text-decoration: none;
  color: black;
}
.explore .cities .info {
  padding: 10px 14px;
  background-color: #f7f7f7;
  border-radius: 4px;
}
.explore .cities h3 {
  text-align: center;
  font-size: 22px;
}
/* End Explore */
/* Start Attractions  */
.AttractionsPlaces h2 {
  font-weight: bold;
}
.AttractionsPlaces h6 {
  font-size: 18px;
  opacity: 0.8;
}
.AttractionsPlaces .photo {
  margin-bottom: 22px;
}
.AttractionsPlaces .photo img {
  width: 100%;
  max-width: 100%;
  border-radius: 4px;
}
.AttractionsPlaces .photo a {
  text-decoration: none;
  color: black;
}
.AttractionsPlaces .photo h5 {
  text-align: center;
  font-size: 22px;
}
/* End Attractions  */
