:root {
    --main-color: #fff;
    --f-blue-color: #003b95;
    --s-blue-color: #49BEFF;
    --gray-color: #F6F9FC;
}
.page {
    padding: 20px 0 0;
}
.roles {
    position: relative;
    width: fit-content;
    margin: auto;
}
.roles select {
    width: 500px;
    text-transform: uppercase;
    padding: 10px 6px;
    outline: none;
    border-radius: 4px;
    border: 1px solid var(--f-blue-color);
    cursor: pointer;
}
@media (max-width: 991px) {
    .roles select {
        width: 400px;
    }
}
@media (max-width: 500px) {
    .roles select {
        width: 150px;
    }
}
.roles svg {
    position: absolute;
    right: 20px;
    top: 14px;
}